/*body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80vh;
    
}

.counter-cntainer {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



input{
    border: none;
    text-align: center;
    font-size: large;
}

button {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(29, 76, 95);
    color: white;
    cursor:pointer;
    transition: background-color 0.3s;
    margin-top: 8px;
}
 button:hover {
    background-color: black;
 } */


 body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
 }

 

 .counter-cntainer{
    background-color:white;
    padding: 10px;
    border-radius: px;
 }

 .buttons{
    background-color: rgb(246, 217, 179);
    /* display: flex; */
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
 }

 h1{
    margin-bottom: 10px;
 }

 p{
    font-size: 20px;
 }

 #input{
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    font-size: 30px;
    border: solid 2px rgb(51, 197, 229);

}

#increment{
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: green;
    outline: none;
    border: none;
    color: white;
    /* padding-left:152px ;
    padding-right: 152px; */
    text-align: center;
    width:100%;
}

#decrement{
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color:rgb(76, 75, 75);
    outline: none;
    border: none;
    color: white;
    /* padding-left:152px ;
    padding-right: 152px; */
    text-align: center;
    width:100%;
}
#reset{
    padding-top: 30px;  
    padding-bottom: 17px;
    border-left: 1px;
}
@media (max-width:490px) {
    body{
        background-color: lightblue;
    }

}